"""
Это файл-инструкция для оформления файла .env
Он предназначен для хранения секретной информации
"""

SECRET_KEY=секретный_ключ
PUBLISHABLE_KEY=публичный_ключ

SECRET_KEY_DJANGO=django-ключ

# Данные для подключения к БД
DB_NAME=имя_бд
DB_USER=имя_пользователя
DB_PASSWORD=пароль
DB_HOST=localhost
DB_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://your-domain.onrender.com