<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Оплата не прошла</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/cancel.css' %}">
</head>
<body>

    <div class="container">
        <h1 class="title-success">Оплата не прошла.</h1>
        <a href="/item/1/" class="btn">Вернуться к товарам</a>
    </div>

</body>
</html>